.MenuList {
    position: absolute;
    padding: 0;
    background-color: black;
    left: 0;
    top: -16px;
    bottom: 0;
    width: 60%;
    max-width: 300px;
    z-index: 2;
    padding-top: 60px;
    border-right: 1px solid grey;
}

.DividerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.DividerContainer hr {
    width: 85%;
    display: block;
    border-bottom: 1px solid gray;
}