.TodoCard {
    width: 100%;
    min-height: 50px;
    display: flex;
    background-color: #252423;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    position: static;
    padding: 0.5rem;
}

.TodoCard:hover, .TodoCard.selected {
    background-color: #3b3a39;
}
.TodoCardOptions {
    display: flex;
    align-items: center;
    min-width: 55px;
    justify-content: space-between;
}
.TodoCardContent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0 1rem;

}
.TodoMenuIcon {
    position: relative;
}
.TodoOptionsMenu {
    list-style: none;
    background-color: #151917;
    position: absolute;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 0;
    right: 30px;
    top: 30px;
    border-radius: 4px;
    min-width: 220px;
}
.TodoOptionsMenu button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
}
.TodoOptionsMenu button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.TodoMenuIcon {
    display: flex;
    align-items: center;
}

.TodoDetailsSidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 65%;
    max-width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
    border-left: 1px solid gray;
}
.TodoDetailtContainer {
    margin-top: 50px;
}
.HeaderDetailsSidebar {
    width: 100%;
    display: flex;
    align-items: center;
}
.HeaderDetailsSidebar .ContentInput {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    flex-grow: 1;
    outline: none;
    resize: none;
}
.HeaderDetailsSidebar .ContentInput::-webkit-scrollbar {
    width: 0px;
}
.HeaderDetailsSidebar > button {
    border: none;
    background-color: transparent;
    color: white;
}
.FooterSidebar {
    display: flex;
    width: 100%;
    align-items: center;
}
.FooterSidebar > button {
    border: none;
    background-color: transparent;
    color: white;
    position: absolute;
    right: 8px;
    bottom: 17px;
    cursor: pointer;
}
.TodoDetailContent {
    margin-top: 1rem;
}
.TodoDetailContent > button {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0.7rem 1rem;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.5rem;
} 
.TodoDetailContent > button:hover {
    background-color: #252423;
    cursor: pointer;
}

.DateOptionsList {
    list-style: none;
    background-color: #151917;
    position: absolute;
    left: 35px;
    top: 38px;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 0;
    border-radius: 4px;
    min-width: 220px;
    padding-bottom: 1rem;
}
.DateOptionsList li > button {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: transparent;
    padding: 0.7rem 1rem;
    width: 100%;
    border-radius: 4px;
    color: white;
}
.DateOptionsList li > button:hover {
    background-color: #252423;
    cursor: pointer;
}
.DateOptionsList h4 {
    text-align: center;
    margin: 0;
    margin-top: 4px;
}
.DateOptionsContainer {
    position: relative;
}
.DueTodayButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.08);
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}
.DueTodayButtonContainer:hover {
    background-color: #252423;
}
.DueTodayButtonContainer > button:not(.DeleteDueDateButton) {
    padding: 0.7rem 1rem;
    display: flex;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    align-items: center;
    gap: 1rem;
}
.DeleteDueDateButton {
    margin-right: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}
.DeleteDueDateButton,
.DeleteDueDateButton svg
 {
    display: none;
    width: 20px;
}
.DueTodayButtonContainer:hover .DeleteDueDateButton.expires,
.DueTodayButtonContainer:hover .DeleteDueDateButton.expires svg {
    display: block;
}

input[type="date"] {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    padding: 0.7rem 1rem;
    outline: none;
    font-size: 1rem;
}
.DataPickerContiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SaveButton {
    border: 1px solid #84b7e1;
    font-weight: 700;
    border-radius: 4px;
    background-color: transparent;
    padding: 6px 1rem;
    color: #84b7e1;
    margin-top: 0.5rem;
    cursor: pointer;
}
.SaveButton:hover {
    background-color: #84b7e1;
    border: 1px solid #151917;
    color: #151917;
}

.MetaDataContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}