.TodoCard {
    width: 100%;
    min-height: 50px;
    display: flex;
    background-color: #252423;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    position: static;
    padding: 0.5rem 1.5rem;
}

.TodoCard:hover, .TodoCard.selected {
    background-color: #3b3a39;
}
.TodoCardOptions {
    display: flex;
    align-items: center;
}
.TodoCardContent {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: white;
    padding: 0 1.5rem;

}
.TodoMenuIcon {
    position: relative;
}
.TodoOptionsMenu {
    list-style: none;
    background-color: #151917;
    position: absolute;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 0;
    right: 30px;
    top: 30px;
    border-radius: 4px;
    min-width: 220px;
}
.TodoOptionsMenu button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.7rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
}
.TodoOptionsMenu button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.TodoMenuIcon {
    display: flex;
    align-items: center;
}

.TodoDetailsSidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    max-width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0.5rem;
    justify-content: space-between;
    border-left: 1px solid gray;
}
.HeaderDetailsSidebar {
    width: 100%;
    display: flex;
    align-items: center;
}
.HeaderDetailsSidebar .ContentInput {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    flex-grow: 1;
    outline: none;
    min-height: 63px;
    max-width: 250px;
    resize: none;
}
.HeaderDetailsSidebar .ContentInput::-webkit-scrollbar {
    width: 0px;
}
.HeaderDetailsSidebar > button {
    border: none;
    background-color: transparent;
    color: white;
}
.TodoDetailsSidebar > button {
    border: none;
    background-color: transparent;
    color: white;
    align-self: flex-end;
    justify-self: end;
}