a {
    text-decoration: none;
    color: inherit;
}

.RegisterFormContainer {
    width: 100%;
    max-width: 350px;
}
.RegisterFormContainer h2 {
    text-align: center;
}
.RegisterFormContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.RegisterFormContainer .DividerContainer {
    margin-top: 1rem;
}
.RegisterFormContainer > span {
    display: block;
    width: 100%;
    text-align: center;
}

.GoogleAuth {
    background-color: #d44c40;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: none;
    padding: 0.3rem;
    gap: 1rem;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}
.GoogleAuthGoogleAuth > span {
    font-size: 1rem;
}